
*[class^="btn-"] {
    box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.3);
    pointer-events: all;
    border: 0px solid #fff;
    background: #fff;
    color: #777;
    border-radius: 50%;
    text-align: center;
}

.btn-main-add, .btn-main-edit {
    background: #05386B;
    color: #fff;
}

.btn-cancel {
    background: firebrick;
    color: white;
}

.btn-list {
    color: white;
    background: #05386B;
}

.btn-save {
    background: #58b222;
    color: white;
}

.btn-info {
    color: white;
    background: #05386B;
}

*[class^="btn-"].large {
    margin: 15px;
    height: 50px;
    width: 50px;
    font-size: 20px;
    padding: 14px;
}

*[class^="btn-"].small {
    margin: 0;
    height: 25px;
    width: 25px;
    font-size: 12px;
    top: -9px;
    position: absolute;
    padding: 5px;
}

*[class^="btn-"].medium {
    margin: 5px;
    height: 35px;
    width: 35px;
    font-size: 20px;
    padding: 6px;
}
