
.edit-form {
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    padding: 10px;
    overflow: hidden;
    background-color: #e7e5de;
    max-width: 660px;
    margin-left: auto;
    margin-right: auto;
}
.edit-form-inner {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 60px;
    padding: 20px;
    overflow: scroll;
    background-color: white;
    border-radius: 10px 10px 0 0;
}
.cancel-zone {
    position: absolute;
    right: 32px;
    top: 15px;
    z-index: 10;
}
.control-zone {
    position: absolute;
    background-color: white;
    border-radius: 0 0 10px 10px;
    bottom: 10px;
    height: 50px;
    left: 10px;
    right: 10px;
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
}