
.global-menu {
    background-color: #f5efdb;
    display: flex;
    width: 100%;
}

.global-menu a {
    font-size: 20pt;
    font-family: Comfortaa, Arial, Helvetica, sans-serif;
    margin-right: 0px;
    padding: 10px 10px;
    text-decoration: none;
    display: inline-block;
    color: rgba(128, 159, 124, 0.71);
}

.global-menu a.selected, .global-menu a:focus {
    background-color: rgba(255, 255, 255, 0.7);
    color: rgba(178, 34, 34, 0.71);
}

.global-menu .left {
    flex-grow: 1;
}